<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Empleado</title>
</head>
<body>
    <h1>Editar Empleado</h1>

    <form method="post" action="/update" enctype="multipart/form-data">
        ID:
        <input type="text" value="{{ empleado.id }}" name="txtID" id="txtID" readonly><br>
        Nombre:
        <input type="text" value="{{ empleado.nombre }}" name="txtNombre" id="txtNombre"><br>
        Correo:
        <input type="text" value="{{ empleado.correo }}" name="txtCorreo" id="txtCorreo"><br>
        Foto:
        <input type="file" name="txtFoto" id="txtFoto"><br>
        Foto Actual: 
        <img src="/uploads/{{ empleado.foto }}" alt="{{ empleado.nombre }}" width="100"><br>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>
