<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EDIT</h1>

    <table class="table table-light">
        <thead class="thead-light">       
            <tr>
                <th>ID</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            {%for empleado in empleados %}
            <tr>
                <td>{{empleado[0]}}</td>
                <td>{{empleado[3]}}</td>
                <td>{{empleado[1]}}</td>
                <td>{{empleado[2]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>