<!-- templates/empleados/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Empleados</title>
</head>
<body>
    <h1>Lista de Empleados</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Foto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td>{{ empleado.id }}</td>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.correo }}</td>
                <td>
                    {% if empleado.foto %}
                    <img src="{{ url_for('uploads', nombreFoto=empleado.foto) }}" width="50">
                    {% else %}
                    No tiene foto
                    {% endif %}
                </td>
                <td>
                    <a href="/edit/{{ empleado.id }}">Editar</a> |
                    <a href="/destroy/{{ empleado.id }}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/create">Agregar Nuevo Empleado</a>
</body>
</html>
